.content {
    max-width          : 800px;
    margin             : auto;
    background-color: ghostwhite;
    padding: 10px;
}

h1 {
    text-align: left;
}

.rowContainer {
    display       : flex;
    flex-direction: row;
}

.evenContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cell {
    /* margin: 2px; */
    padding: 2px;
    /* background-color: lavenderblush; */
}