.content {
    max-width          : 800px;
    margin             : auto;
    background-color: ghostwhite;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
}

h1 {
    text-align: left;
}

.rowContainer {
    display       : flex;
    flex-direction: row;
}

.evenContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cell {
    /* margin: 2px; */
    padding: 2px;
    /* background-color: lavenderblush; */
}

::placeholder{
    /* color:red; */
    opacity: .5;
    font-size: 10px;
}